html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#main-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start-button {
  font-size: 2em;
  padding: 10px 90px 10px 90px;
  background-color: #009688;
  border: 1px solid #009688;
  border-radius: 20px;
  color: white;
  box-shadow: 2px 3px 15px 0px #001513;
  cursor: pointer;
}

#start-button:active {
  outline: none;
  border: none;
}
  
#start-button:focus {
  outline:0;
}

#top-bar {
  font-family: 'Roboto', sans-serif;
}

#top-bar thead {
  text-align: left;
}

#top-bar tbody tr {
  font-size: 1.5em;
}

#top-bar tbody tr td {
  padding-right: 50px; 
}

.char {
  font-family: 'Roboto Mono', monospace;
  display: inline-block;
  font-size: 2em;
  color: black;
}

.char.space {
  width: .5em;
}

.char.correct {
  color: #777777;
}

.char.error {
  color: red;
  text-decoration: underline;
}

.char.active {
  color: #1e86f9;
  text-decoration: underline;
}
